services:

## Alpine collection #######################
  gcc-alpine:
    image: gcc-alpine:${BUILD_TIMESTAMP}
    build:
      context: .
      dockerfile: Dockerfile.alpine
      args:
        CMAKE_VERSION: 4.0.5
      tags:
        - krthkj/cpp:gcc-alpine
        - krthkj/cpp:gcc-alpine-${BUILD_VERSION}
        - gcc-alpine:latest

  clang-alpine:
    image: clang-alpine:${BUILD_TIMESTAMP}
    build:
      context: .
      dockerfile: Dockerfile.alpine
      args:
        USE_CLANG: "true"
        CMAKE_VERSION: 4.0.5
      tags:
        - krthkj/cpp:clang-alpine
        - krthkj/cpp:clang-alpine-${BUILD_VERSION}
        - clang-alpine:latest

  gcc-alpine-edge:
    image: gcc-alpine-edge:${BUILD_TIMESTAMP}
    build:
      context: .
      dockerfile: Dockerfile.alpine
      args:
        IMG_TAG: "edge"
        CMAKE_VERSION: 4.0.5
      tags:
        - krthkj/cpp:gcc-alpine-edge
        - krthkj/cpp:gcc-alpine-edge-${BUILD_VERSION}
        - gcc-alpine-edge:latest

  clang-alpine-edge:
    image: clang-alpine-edge:${BUILD_TIMESTAMP}
    build:
      context: .
      dockerfile: Dockerfile.alpine
      args:
        IMG_TAG: "edge"
        USE_CLANG: "true"
        CMAKE_VERSION: 4.0.5
      tags:
        - krthkj/cpp:clang-alpine-edge
        - krthkj/cpp:clang-alpine-edge-${BUILD_VERSION}
        - clang-alpine-edge:latest

## Ubuntu Collection #######################
  gcc14:
    image: gcc14:${BUILD_TIMESTAMP}
    build:
      context: .
      dockerfile: Dockerfile.ubuntu
      args:
        GCC_VERSION: "14"
        CMAKE_VERSION: 4.0.5
      tags:
        - krthkj/cpp:gcc14
        - krthkj/cpp:gcc14-${BUILD_VERSION}
        - gcc14:latest

  clang20:
    image: clang20:${BUILD_TIMESTAMP}
    build:
      context: .
      dockerfile: Dockerfile.ubuntu
      args:
        USE_CLANG: "true"
        CLANG_VERSION: "20"
        CMAKE_VERSION: 4.0.5
      tags:
        - krthkj/cpp:clang20
        - krthkj/cpp:clang20-${BUILD_VERSION}
        - clang20:latest

  gcc15:
    image: gcc15:${BUILD_TIMESTAMP}
    build:
      context: .
      dockerfile: Dockerfile.ubuntu
      args:
        IMG_TAG: "rolling"
        GCC_VERSION: "15"
        CMAKE_VERSION: 4.0.5
      tags:
        - krthkj/cpp:gcc15
        - krthkj/cpp:gcc15-${BUILD_VERSION}
        - gcc15:latest

## Ubuntu-nvidia Collection ################
  gcc-cuda:
    image: gcc14-cuda13:${BUILD_TIMESTAMP}
    build:
      context: .
      dockerfile: Dockerfile.nvidia-cuda
      args:
        IMG_TAG: 13.0.2-devel-ubuntu24.04
        GCC_VERSION: "14"
        CMAKE_VERSION: 4.0.5
      tags:
        - krthkj/cpp:gcc14-cuda13
        - krthkj/cpp:gcc14-cuda13-${BUILD_VERSION}
        - gcc14-cuda13:latest

  clang-cuda:
    image: clang20-cuda13:${BUILD_TIMESTAMP}
    build:
      context: .
      dockerfile: Dockerfile.nvidia-cuda
      args:
        IMG_TAG: 13.0.2-devel-ubuntu24.04
        USE_CLANG: "true"
        CLANG_VERSION: "20"
        CMAKE_VERSION: 4.0.5
      tags:
        - krthkj/cpp:clang20-cuda13
        - krthkj/cpp:clang20-cuda13-${BUILD_VERSION}
        - clang20-cuda13:latest

############################################
#   ubuntu-gui:
#     image: krthkj/cpp:gcc13-gui
#     build:
#       context: .
#       dockerfile: Dockerfile.ubuntu-gui